/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        sqt_scln_td: sqt_scln_td {
            compatible = "zmk,behavior-tap-dance";
            label = "SQT_SCLN_TD";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp SEMICOLON>;
        };

        z_grave_td: z_grave_td {
            compatible = "zmk,behavior-tap-dance";
            label = "Z_GRAVE_TD";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&kp GRAVE>;
        };

        left_hrm: left_hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <2000>;
            hold-trigger-key-positions = <8 9 10 11 12 22 23 24 25 26 34 35 36 37 38 43 44 45>;
            hold-trigger-on-release;
            flavor = "hold-preferred";
            quick-tap-ms = <150>;
            require-prior-idle-ms = <200>;
        };

        right_hrm: right_hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <2000>;
            hold-trigger-on-release;
            flavor = "hold-preferred";
            quick-tap-ms = <150>;
            require-prior-idle-ms = <200>;
            hold-trigger-key-positions = <1 2 3 4 5 15 16 17 18 19 29 30 31 32 33 40 41 42>;
        };

        sqt_hrm: sqt_hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "SQT_HRM";
            bindings = <&kp>, <&sqt_scln_td>;

            #binding-cells = <2>;
            tapping-term-ms = <2000>;
            hold-trigger-on-release;
            flavor = "hold-preferred";
            quick-tap-ms = <150>;
            require-prior-idle-ms = <200>;
            hold-trigger-key-positions = <1 2 3 4 5 15 16 17 18 19 29 30 31 32 33 40 41 42>;
        };

        num_td: num_td {
            compatible = "zmk,behavior-tap-dance";
            label = "NUM_TD";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q                     &kp W                 &kp E                 &kp R                   &kp T      &none  &none  &kp Y    &kp U                     &kp I                   &kp O                  &kp P                     &none
&none  &left_hrm LEFT_CONTROL A  &left_hrm LEFT_ALT S  &left_hrm LEFT_GUI D  &left_hrm LEFT_SHIFT F  &kp G      &none  &none  &kp H    &right_hrm RIGHT_SHIFT J  &right_hrm RIGHT_GUI K  &right_hrm LEFT_ALT L  &sqt_hrm RIGHT_CONTROL 0  &none
&none  &z_grave_td               &kp X                 &kp C                 &kp V                   &kp B                    &kp N    &kp M                     &kp COMMA               &kp DOT                &kp FSLH                  &none
                                                       &kp TAB               &num_td                 &kp SPACE                &kp RET  &mo 3                     &kp BACKSPACE
            >;
        };

        numnav_layer {
            display-name = "NUMNAV";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&trans  &kp N1     &kp N2    &kp N3      &kp N4     &kp N5    &trans  &trans  &kp N6    &kp N7    &kp N8  &kp N9     &kp N0         &trans
&trans  &kp LCTRL  &kp LALT  &kp LGUI    &kp LSHFT  &kp CAPS  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp PAGE_UP    &trans
&trans  &trans     &trans    &trans      &trans     &trans                    &trans    &trans    &trans  &trans     &kp PAGE_DOWN  &trans
                             &kp ESCAPE  &trans     &trans                    &trans    &mo 4     &trans
            >;
        };

        numpad_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp KP_MULTIPLY  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MINUS  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp KP_DIVIDE    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans           &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT    &trans
                        &trans  &trans  &trans                  &kp KP_NUMBER_0  &trans           &trans
            >;

            label = "NUMPAD";
        };

        symbol_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL | HUD | HUI |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL   &kp AT    &kp HASH    &kp DLLR   &kp PRCNT  &trans  &trans  &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &trans
&trans  &kp LCTRL  &kp LALT  &kp LGUI    &kp LSHFT  &trans     &trans  &trans  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &trans
&trans  &trans     &trans    &trans      &trans     &trans                     &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &trans
                             &kp ESCAPE  &mo 4      &trans                     &trans     &trans     &trans
            >;
        };

        system_layer {
            display-name = "SYSTEM";
            bindings = <
&trans  &kp F1      &kp F2    &kp F3    &kp F4      &kp F5      &trans  &trans  &kp F6   &kp F7     &kp F8    &kp F9    &kp F10    &trans
&trans  &kp LCTRL   &kp LALT  &kp LGUI  &kp LSHFT   &kp F11     &trans  &trans  &kp F12  &kp RSHFT  &kp RGUI  &kp LALT  &kp RCTRL  &trans
&trans  &bt BT_CLR  &trans    &trans    &bt BT_PRV  &bt BT_NXT                  &trans   &trans     &trans    &trans    &trans     &trans
                              &trans    &trans      &trans                      &trans   &trans     &trans
            >;
        };
    };
};
